body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  padding: 0;
  margin: 0;
}

#main {
  width: 80%;
  margin: 0 auto;
}

#disqus_thread {
  margin-top: 40px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.no_underline {
  text-decoration: none;
}

.big {
  font-size: 1.5em;
}

.circular {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  }
