<div style="padding: 0em 1em;">
    <!-- <div>
        <img src="/assets/images/jean.jpg" class="site-logo-img align-left">
    </div> -->
    <div>
        <p style="margin-bottom: 7px;"><strong>About the author</strong></p>
        <p style="margin-bottom: 15px;">
            Hey! I'm <a href="https://twitter.com/jeanbahnik">@jeanbahnik</a>, engineering manager at Nintendo, formerly at Rover and Trunk Club/Nordstrom.</br>
            I teach what I know about engineering management,
            efficient teams, and growing as a software developer on my <a href="https://jeanbahnik.com">blog</a>.
        </p>
    </div>
</div>