<div class="about-author">
    <div>
        <img src="/assets/images/jean.jpg" class="site-logo-img" style="float: left; margin-right: 15px;">
    </div>
    <div>
        <h2>About the author</h2>
        <p style="margin-bottom: 5px;">
            Hey! I'm <a href="https://twitter.com/jeanbahnik">@jeanbahnik</a>, engineering manager at Nintendo, formerly at Rover and Trunk Club/Nordstrom.
        </p>
        <p>
            I teach what I know about engineering management,
            efficient teams, and growing as a software developer on my <a href="https://jeanbahnik.com">blog</a>.
        </p>
    </div>
</div>