<div class="wrap" style="text-align: center";>
    {% if site.logo %}
        <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
        <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
        </a>
    {% endif %}
    <div>
        <p style="margin-bottom: 7px;"><strong>About me</strong></p>
        <p style="margin-bottom: 15px;">
            Hey! I'm <a href="https://twitter.com/jeanbahnik">@jeanbahnik</a>, engineering manager at Postscript, formerly at Nintendo, Rover and Trunk Club/Nordstrom.</br>
            I write about about engineering management,
            efficient teams, and growing as a software developer on the <a href="https://panickedmanager.com">Panicked Manager</a> blog.
        </p>
    </div>
</div>