<header class="hero">
  <div class="wrapper">
      <div class="content">
      <h1><span>Jean Bahnik</span></h1>
      <img class="logo" src="assets/images/jean.jpg" />
      <h3>I'm currently an <span>engineering manager at Trunk Club</span>, where I manage the Member team (iOS, Android, web apps for customers, and the web services that support them).<br/><br/>I support my team through coding, planning, recruiting, coaching and mentoring. When coding, I help with <span>iOS (some Obj-C, mostly Swift)</span> and backend (<span>Ruby</span>).<br/><br/>I'm <span>passionate about building great teams and awesome products</span>.</h3>
      <br/>
      <h3>In past lives, I <span>worked in marketing and management</span> and also <span>founded a company in France</span>. See my resume below or download it here (pdf).</h3>
      <br/>
      <h3>Feel free to <span>connect with me</span> if you want to chat, have an interesting challenge or opportunity, or think I can help you in any way.</h3>
      <!-- <h3>I live in Chicago with my beautiful family. When I'm not programming, I run and take photos.</h3> -->
      <!-- <h3>I'm a <span>software designer</span> and <span>developer</span> based in Chicago.</h3>
      <h3>Currently practicing both as a <span>software engineer</span> at <span><a href="https://www.trunkclub.com/engineering">Trunk Club</a></span></h3> -->
    </div>
  </div>
  <div class="bounce">
  	{% include icons/arrow-down.html %}
  </div>
</header>
