<header class="hero">
  <div class="wrapper">
      <div class="content">
      <h1><span>Jean Bahnik</span></h1>
      <img class="logo" src="assets/images/jean.jpg" />
      <h3>I'm currently an <span>engineering manager at Trunk Club</span>, where I manage the Customer and Back Office teams (iOS, Android, web apps, and the web services that support each of these applications). I support my team through planning, recruiting, coaching,  mentoring and coding. When coding, I contribute to iOS (Swift, Obj-C) and backend (Ruby).<br/><br/>Before becoming an engineer, I worked in marketing and management and also founded a company in France.<br/><br/>I'm <span>passionate about building awesome products and great teams</span>. See my resume below or download it <a href="assets/resumes/JeanBahnikResume.pdf">here (pdf)</a>.</h3>
      <br/>
      <h3>Feel free to <span>connect with me</span> if you want to chat, have an interesting challenge or opportunity, or think I can help you in any way.</h3>
    </div>
  </div>
  <div class="bounce">
  	{% include icons/arrow-down.html %}
  </div>
</header>
