<header class="hero">
  <div class="wrapper">
      <div class="content">
      <h1><span>Jean Bahnik</span></h1>
      <img class="logo" src="assets/images/jean.jpg" />
      <h3>I'm currently an <span>engineering manager at Trunk Club</span> on the Member team. When coding, I contribute to <span>iOS (Swift, some Obj-C)</span> and backend (<span>Ruby</span>).<br/><br/>I'm <span>passionate about building awesome products and great teams</span>. See my resume below or download it <a href="assets/resumes/JeanBahnikResume.pdf">here (pdf)</a>.</h3>
      <br/>
      <h3>Feel free to <span>connect with me</span> if you want to chat, have an interesting challenge or opportunity, or think I can help you in any way.</h3>
    </div>
  </div>
  <div class="bounce">
  	{% include icons/arrow-down.html %}
  </div>
</header>
