<section class="resume">
	<div class="wrapper">
		<header class="section-header">
			<h1>Resume</h1>
		</header>
			<h2>EXPERIENCE</h2>

			<h3>Senior Engineering Manager<span> at Rover</span><span class="pull-right"> January 2018 - Present</span></h3>
			<ul>
				<li>Currently leading a group of 4 teams and 30 people working with stakeholders and the product group to support our	Growth, SEO, Sitter & Owner Experiences and Internationalization efforts to build and improve customer-facing features.</li>
				<li>Previously managed the Marketplace (search) and Trust & Safety engineering teams.</li>
				<li>I grew the group from 8 engineers in 2018 to 25 today through recruiting, hiring and by improving on-boarding.</li>
				<li>I help the engineering managers and their teams through group-level project prioritization, resource planning, mentoring and coaching, to ensure the effective delivery of impactful projects.</li>
				<li>Contributed to engineering-wide initiatives such as launching our documentation overhaul, managing our ADA Academy	efforts, and leading planning and productivity processes improvements.</li>
			</ul>

			<h3>Engineering Manager<span> at Trunk Club</span><span class="pull-right"> February 2012 - January 2018</span></h3>
			<ul>
				<li>Lead 20 engineers on the Customer and Back Office teams. The Customer team is responsible for the Web, iOS, and Android applications that enhance the customer's experience, and the web services that support them. The Back Office team is responsible for the tools and services that support the finance, operations and custom tailoring teams.</li>
				<li>Joined at a critical time in the growth of the tech team, having grown from 4 people to the current 70, and have helped with all that accompanies such rapid growth: maintaining a great culture, ensuring speed and quality of delivery, continuously improving processes such as CI and CD, recruiting, improving the interview and hiring process.</li>
				<li>Day-to-day duties involve coding (iOS/Ruby), pairing and code reviews, increasing efficiency and removing roadblocks. Responsible for the overall planning, execution, and success of complex technical work, and participate in the prioritization of team backlogs. Manage performance reviews, recruit and hire new talent for my teams.</li>
				<li>Built the mobile team for Trunk Club, allowing us to build and support a larger number of applications. Contributed to the development of several internal and external iOS applications: our warehouse picking and packing iOS app, our stylist companion iOS app, a custom tailoring iOS app, and our customer Android app, to name a few.</li>
				<li>Previous projects have included transitioning from a monolithic Rails application architecture to an SOA/messaging-based architecture, the creation of internal applications to support operations, an internal CRM to replace Salesforce, and an internal shopping tool for salespeople.</li>
			</ul>

			<h3>Senior Director of Marketing<span> at Liquidity Services, Inc (NASDAQ: LQDT)</span><span class="pull-right"> 2007 to 2011</span></h3>
			<ul>
				<li>General Manager of the goWholesale.com division with P&L responsibility, a team of 12 that included sales, marketing and engineering.</li>
				<li>Achieved the highest revenue in the division’s history and brought the division to profitability.</li>
				<li>Defined the product roadmap, working with the technology team to ensure quality and delivery. Launched new online products to diversify the offering, from specifications to the launch strategy.</li>
			</ul>

			<h3>Program Manager<span> at buySAFE</span><span class="pull-right"> 2006 to 2007</span></h3>
			<ul>
				<li>Wrote the specifications for the buySAFE API and advocated its implementation with ecommerce partners.</li>
				<li>Implemented the company’s internal and external project management solutions.</li>
			</ul>

			<h3>Marketing Manager<span> at Liquidity Services, Inc (NASDAQ: LQDT)</span><span class="pull-right"> 2005 to 2006</span></h3>
			<ul>
				<li>Online Marketing: SEO, SEM, Affiliate Program, Parternships.</li>
			</ul>

			<h3>Founder and General Manager<span> at Stahr</span><span class="pull-right"> 2003 to 2005</span></h3>
			<ul>
				<li>Launched France's first home delivery service of diet meals.</li>
			</ul>

			<h3>Software Engineer <span>at 800wine.com</span><span class="pull-right"> 1999 to 2002</span></h3>

			<br/>

			<h2>PERSONAL PROJECTS</h2>
			<h3>Geared to Run</h3>
			<h3>iPhone app &bull; Swift &bull; 2016
				<ul>
					<li>Recommends running outfits based on the weather</li>
					<li>Written in Swift, uses Core Data with iCloud, IAP</li>
					<li>(No longer available on the App Store)</li>
				</ul>

			<h2>EDUCATION</h2>
			<h3>Bachelor of Science in Business Administration and Management</h3>
			<h3>EMLV - École de Management Léonard de Vinci &bull; Paris, France &bull; 1999</h3>

	</div>
</section>
