<section class="resume">
	<div class="wrapper">
		<header class="section-header">
			<h1>Resume</h1>
		</header>
			<h2>EXPERIENCE</h2>

			<h3>Engineering Manager<span> at Trunk Club</span><span class="pull-right"> February 2012 - Present</span></h3>
			<ul>
				<li>Lead the engineering teams responsible for the Web, iOS and Android applications that enhance the customer's experience, and the web services that support them.</li>
				<li>Day-to-day duties involve pairing and code reviews, driving efficiency and removing roadblocks. I’m responsible for the overall planning, execution, and success of complex technical work, and participate in the prioritization of team backlogs. I also manage performance reviews and am responsible for recruiting and hiring for my teams.</li>
				<li>Before managing the Member teams, I built the mobile team for Trunk Club. This allowed us to build and support a larger number of applications, including our warehouse picking and packing iOS app, our stylist companion iOS app, a custom tailoring iOS app and our Member Android app, to name a few.</li>
				<li>Previous projects have included transitioning from a monolithic Rails application architecture to an SOA/messaging-based architecture (Ruby), the creation of internal applications to support operations, the development of workers and services to support marketing and business intelligence initiatives, the rollout of: an integrated enterprise inventory management system, an internal CRM to replace Salesforce and an internal shopping tool for salespeople.</li>
				<li>Joined at a critical time in the growth of the tech team, having grown from 4 people to the current 60, and have experienced all that accompanies such rapid growth: moving from Heroku to AWS, scaling and reducing points of failures, and improving logging and reporting.</li>
			</ul>

			<h3>Senior Director, Corporate Marketing<span> at Liquidity Services, Inc (NASDAQ: LQDT)</span><span class="pull-right"> August 2007 - October 2011</span></h3>
			<ul>
			  <li>Profit and Loss leadership for goWholesale division (an online B2B search engine), with focus on boosting sales and marketing performance and generating operational efficiencies.</li>
				<li>Achieved revenue growth of 11.5% over previous year, achieving the highest revenue in the division history and bringing the division to profitability.</li>
				<li>Develop and execute divisional business plan, mapping out sales goals, marketing objectives and product roadmap.</li>
				<li>Redefined the company’s business plan to adjust for industry changes and offer increased revenue potentials.</li>
				<li>Manage and hire all division personnel. Introduced and developed new training programs for increased performance.</li>
			</ul>

			<h3>Project Manager<span> at buySAFE</span><span class="pull-right"> July 2006 - August 2007</span></h3>
			<ul>
			  <li>Successfully led cross-functional projects to implement the buySAFE solution, which ensures a risk-free shopping experience for customers making purchases from sellers bonded by buySAFE.</li>
				<li>Implemented the company’s internal and external project management solutions.</li>
				<li>Designed and developed two websites to facilitate integrations with distribution partners.</li>
			</ul>

			<h3>Manager, Marketing and Business Development<span>  at Liquidity Services, Inc (NASDAQ: LQDT)</span><span class="pull-right"> April 2005 -
			July 2006</span></h3>
			<ul>
			  <li>Developed new and existing business partnerships for B2B search engine.</li>
				<li>Managed the search engine marketing and optimization efforts; created direct mail and email campaigns.</li>
				<li>Ran affiliate program through CJ prior to establishing a replacement solution in-house.</li>
				<li>Redesigned website after acquisition of Wholesale411.com.</li>
			</ul>

			<h3>Founder and General Manager<span> at Stahr</span><span class="pull-right"> April 2003 -
			May 2005</span></h3>
			<ul>
			  <li>Managed P&L and staff, and oversaw all operations and sales & marketing efforts for France’s first diet meal home delivery service.</li>
				<li>Exceeded revenue goals by 20% for the first two years before selling the company in 2005.</li>
				<li>Developed press materials that resulted in extensive media exposure through press articles and TV appearances.</li>
			</ul>

			<h3>Sales Associate <span>at Epicure Markets</span><span class="pull-right"> January 2002 -
			May 2003</span></h3>
			<br/>

			<h3>Consultant <span>at Ulysses</span><span class="pull-right"> November 1999 -
			July 2001</span></h3>
			<h3>Web Developer<span class="pull-right"> April 2000 – July 2001)</span></h3>
			<ul>
				<li>For client 800Wine.com, developed an e-commerce website and designed shopping cart, content management tools, back-end/administration, and SQL database</li>
			</ul>
			<h3>Marketing Manager<span class="pull-right">November 1999 – April 2000</span></h3>
			<ul>
				<li>For client Hypernix, developed innovative marketing strategies and alliances and offered new services to increase user base for launch of U.S. operations
				<li>Increased ROI by introducing more efficient marketing strategies including sweepstakes, direct email campaign and sponsorships, and by setting up reporting programs to improve marketing analysis
			</ul>

			<h2>EDUCATION</h2>
			<h3>Bachelor of Science in Business Administration</h3>
			<h3>Leonard de Vinci &bull; Paris, France &bull; 1999</h3>
			  <ul>
		      <li>Internship at Rognerud-Wilson, a web development consulting firm in Los Angeles, CA 1998</li>
					<li>Internship at Ulysses International, Los Angeles, CA 1997</li>
			  </ul>

			<!-- <h2>TECHNICAL SKILLS</h2>
			  <ul>
				<li>Dev ( Swift | Objective-C | HTML | CSS | SASS | JavaScript | jQuery | CoffeeScript | Git )</li>
				<li>UI ( Sketch | Photoshop | Illustrator | Photo Capturing and Editing )</li>
				<li>UX ( Prototyping | User Research/Testing | Information Architecture | Analytics )</li>
			    <li class="star">Willing and able to learn new concepts and technologies</li>
			  </ul> -->
	</div>
</section>
