/**
 * Contact Section
 */

.contact {
	background-color: $white;
	text-align: center;
	.social-media-list {
		li {
			display: inline;
			a {
				display: inline-block;
				padding: $spacing-unit / 3;
				opacity: .7;
				&:hover, &:active {
					opacity: 1.0;
					@include transform(translateY(-2px));
				}
			}
			.icon>svg {
				path {
				fill: $gray;
					&:hover {
						fill: $gray;
					}
				}
			}
		}
	}
}