/**
 * Resume Section
 */

.resume {
	background-color: $grayLight;
	h2  {
	color: $gray;
	font-family: $base-font-family;
	font-size: $large-font-size;
	margin-bottom: $spacing-unit / 3;
	letter-spacing: 2px;
	}
	h3  {
	font-family: $base-font-family;
	font-size: $base-font-size;
	margin: 0;
	line-height: $base-line-height / 1.2;
	span  {
	  font-family: $base-font-family-xlight;
	  &.pull-right  {
	    float: right;
	    font-size: $small-font-size;
	    @include media-query($device-small) {
	    	float: none;
	    	display: block;
	    	margin: 5px 0;
	    }
	  }
	}
	}
	ul  {
	margin-bottom: $spacing-unit / 2;
	font-size:  $small-font-size;
	list-style-type: none;
		li  {
		  font-family: $base-font-family-light;
		  line-height: $base-line-height;
		  &:before { 
		    content: "+ "; 
		    color: $gray;
		  }
		  &.star:before  {
		    content: "★ ";
		    font-size: 10px;
		  }
		}
	}
}