<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Jean Bahnik </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>

  <div id="main">

    <header>
      <h1> Jean Bahnik </h1>
      {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
    <header>

    {{ content }}

    <footer>
      <p>Jean Bahnik | All Rights Reserved. </p>
    </footer>

  </div>
</body>
</html>